@use "../../presets" as *;
@use "../../mixins" as *;

.companies-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    font-size: 50px;
    line-height: 60px;
    margin: 108px 300px 90px 300px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 100px;

    
    @include unlist
  }
}