@use "../../presets" as *;
@use "../../mixins" as *;


.app-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;


  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;

  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
  }
}