@use "../../presets" as *;
@use "../../mixins" as *;

.apps {
  background-color: $color-bg-light;
  margin-bottom: 150px;

  &__title {
font-weight: 600;
font-size: 50px;
line-height: 1.2;
text-align: center;
padding-top: 120px;
padding-bottom: 40px;

@include xl-min {
  font-size: 50px;
}
@include xl-lg {
  font-size: 44px;
}
@include lg {
  font-size: 36px;
}
  }
}