@use "../../presets" as *;
@use "../../mixins" as *;

.quality-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;

  &__title {
    font-size: 50px;
    line-height: 60px;
    width: 520px;
    padding-top: 100px;
  }

  &__description {
    font-size: 20px;
    width: 520px;
    padding-bottom: 35px;
  }

  &__item {
    font-size: 20px;
    font-weight: 600;
    width: 520px;
    margin-bottom: 400px;

  }

  &__picture {
    position: absolute;
  }
}