@use "normalize";
@use "common";
@use "sections/header";
@use "sections/brands";
@use "sections/job";
@use "sections/apps";
@use "sections/teams";
@use "sections/revolut";
@use "sections/soft";
@use "sections/integrate";
@use "sections/try";
@use "sections/information";