@use "../../presets" as *;
@use "../../mixins" as *;


.market-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 780px;



  &__title {
    font-size: 50px;
    line-height: 60px;
    width: 380px;
    padding-bottom: 5px;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  &__description {
    font-size: 20px;
    width: 490px;
    padding-bottom: 35px;
  }

  &__item {
    font-size: 20px;
    font-weight: 600;
    width: 100px;
  }
}