@use "../../presets" as *;
@use "../../mixins" as *;


.team-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  flex-basis: 399px;
  justify-content: center;

  &__picture {
    height: 200px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.33;
    margin-top: 50px;
    margin-bottom: 34px;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  &__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-decoration-line: underline;
    padding-bottom: 180px;
  }
}