@use "../../presets" as *;
@use "../../mixins" as *;

$container-small: 680px;
$container-little: 540px;

.integrate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.15;
    text-align: center;

    max-width: $container-small;
    margin: 0 auto;

    @include xl-min {
      font-size: 50px;
    }

    @include xl-lg {
      font-size: 42px;
    }

    @include lg {
      font-size: 36px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;

    max-width: $container-little;
    margin: 0 auto 25px;
  }

  &__picture {
    display: flex;
    justify-content: center;
  }

  &__image {
    @include lg-min {
      width: 100%;
    }

    @include lg {
      width: 50%;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
  }
}