@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: $gap 50px;
  padding: 25px 0;

  @include lg {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $color-gray;
  }
}
