@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 42px;
    margin-left: auto;

    @include unlist;
  }

  &__item {

  }

  &__link {
    
  }
}