@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - 40px, 1340px);
  margin-inline: auto;
}

.btn {
  border-width: 1px;
  border-style: solid;
  font-weight: 600;
  &--light {
    background-color: $color-white;
    border-color: rgba($color-black, 0.5);
  }
  &--accent {
    background-color: $color-accent;
    color: $color-white;
    border-color: rgba($color-accent, 0.5);

  }
  &--sm {
    min-width: 120px;
    min-height: 45px;

  }
  &--md {
    min-width: 160px;
    min-height: 60px;

  }
}